.catalog {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;

  @media (min-width: $tablet) {
    background-color: $lightestGray;
    display: flex;
    flex-direction: column;
    padding: 72px 17px 0;
  }

  @media (min-width: $desktop) {
    margin: 20px 20px 0;
  }
}

.catalog__title {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $lilacDark;
  margin: 9px auto 7px;

  @media (min-width: $tablet) {
    margin-bottom: 2px;
  }
}

.catalog__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 4px 0 18px;
  align-items: center;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 41px;
  }
}

.catalog__coffee-cards-wrapper {
  margin: 0 auto;

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.catalog__sorting {
  margin-top: 40px;

  @media (min-width: $tablet) {
    background-color: $lightestGray;
  }
}

.catalog__sort-block {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 32px;
  }

  @media (min-width: $desktop) {
    display: block;
    width: 100%;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 30px;
  }
}
