.coffee-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    width: 728px;
    padding: 0;
    gap: 30px;
    margin-top: 30px;
  }


  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 317px);
    gap: 30px;
    width: 100%;
  }
}

.coffee-card__decaf-flat-white {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px 20px 20px;

  @media (min-width: $tablet) {
    padding: 50px 30px 30px;
  }

  & + & {
    margin-top: 22px;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }
}

.coffee-card__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
  }
}

.coffee-card__description {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0 0;

  @media (min-width: $tablet) {
    margin-top: 9px;
  }
}

.coffee-card__pic {
  display: block;
  margin: 0 auto 22px;

  @media (min-width: $tablet) {
    margin: 0 auto 30px;
    width: 130px;
    height: 188px;
  }
}

.coffee-card__wrapper {
  margin: 15px 0 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    margin-top: 20px;
    justify-content: space-between;
  }
}

.coffee-card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.coffee-card__add-to-cart {
  width: 141px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $baseWhite;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  background-color: $baseLilac;
  padding: 8px 20px;

  &:hover {
    background-color: $altLilac;
  }

  &:focus {
    background-color: $altLilac;
  }

  &:active {
    background-color: $lilacDark;
  }

  &:disabled {
    background-color: $baseGray;
  }
}

.coffee-card__add-to-cart-icon {
  margin-right: 6px;
  flex-shrink: 0;
}
