.e-shop {
  margin: 0 auto;
  align-items: center;

  @media (min-width: $tablet) {
    margin: 0;
  }

  & + & {
    margin-top: 50px;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }
}

.e-shop__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $lilacDark;
  text-align: left;
  margin: 0;
}

.e-shop__list {
  list-style-type: none;
}
