.footer-links {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 48px;
    grid-template-columns: repeat(3, 318px);
  }
}
