.item__photo {
  @media (min-width: $tablet) {
    width: 476px;
    display: block;
    margin: 19px auto 0;
  }

  @media (min-width: $desktop) {
    width: 600px;
    height: 600px;
    margin: 0;
  }
}
