.link-list {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  gap: 20px;

  @media (min-width: $tablet) {
    margin-right: 0;
    gap: 20px;
  }

  @media (min-width: $desktop) {
    margin: 54px 0 0;
  }
}
