.list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

.list__item {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  & + & {
    margin-top: 20px;
  }
}

.list__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #333333;
}
