.menu-list {
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop) {
    gap: 20px;
    flex-wrap: wrap;
  }
}

.menu-list__item {
  list-style: none;
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $baseBlack;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet) {
    line-height: 16px;
  }

  &:hover {
    color: $baseLilac;
  }

  &:focus {
    color: $baseLilac;
  }

  &:active {
    color: $baseLilac;
    background-color: $lightLilac;
  }
}

.menu-list__item a {
  text-decoration: none;
  color: #333333;
  padding: 20px 0;
  display: block;

  @media (min-width: $tablet) {
    padding: 32px 21px 30px;
  }
}

@media (min-width: $tablet) {
  .menu-list__item--current {
    border-bottom: 2px solid $baseLilac;
  }
}

.menu-list--close {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.menu-list--open {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;

  @media (min-width: $tablet) {
    display: flex;
    position: static;
  }
}

.menu-list--nojs {
  display: block;
  margin-top: 12px;
  margin-bottom: -10px;

  @media (min-width: $tablet) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: $onlyMobile) {
  .menu-list {
    width: 100%;
    background-color: #ffffff;
  }

  .menu-list__item {
    border-top: 1px solid #f0ebff;
  }
}
