.menu__toggle {
  padding: 0 2px;
  background: none;
  border: none;
  margin-left: 42px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.menu__toggle--nojs {
  display: none;
}

.menu__toggle--close {
  .menu__icon--close {
    display: none;
  }
}

.menu__toggle--open {
  .menu__icon--open {
    display: none;
  }
}
