.page-header {
  background-color: $baseWhite;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 42px 0 20px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    padding: 0 59px 0 41px;
  }
}

.page-header::before {
  content: "";
  position: absolute;
  left: calc((100vw - 100%) / -2);
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
}

.page-header__nav {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet) {
    width: initial;
    margin-left: 0;
    margin-right: 83px;
    order: -1;
  }

  @media (min-width: $desktop) {
    margin-right: 181px;
  }
}

.page-header__logo {
  flex-shrink: 0;
  width: 32px;
  height: 36px;
  margin-right: auto;

  @media (min-width: $tablet) {
    width: 82px;
    height: 36px;
    order: -1;
  }

  @media (min-width: $desktop) {
    width: 316px;
    height: 36px;
    display: flex;
    align-items: center;
  }
}

.page-header__title {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    width: 126px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $baseBlack;
    margin: 0;
  }
}

.page-header__logo-icon {
  display: block;
  width: 100%;
  height: 100%;

  @media (min-width: $desktop) {
    width: 170px;
    margin-right: 20px;
  }
}
