.price-filter {
  margin: 0 -3px 0 0;
  border: none;
  padding: 0 0 0 3px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.price-filter__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $baseBlack;
  margin: 0 0 29px;

  @media (min-width: $tablet) {
    margin-bottom: 21px;
  }
}

.price-filter__field {
  position: relative;
  margin: 33px 0 0;
  padding: 0 0 3px;

  @media (min-width: $tablet) {
    width: 223px;
    padding-left: 0;
    margin-top: 19px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }

  &::after {
    content: " ";
    width: 8px;
    height: 2px;
    background-color: #bdbdbd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
