.range-scale {
  width: 100%;
  height: 4px;
  background-color: $lightGray;
  position: relative;
  margin: 10px 0;
  padding: 0 3px;

  &::after {
    content: "";
    width: 225px;
    height: 4px;
    background-color: $lilacDark;
    position: relative;
    left: 21px;
    display: block;

    &:disabled {
      display: none;
    }

    @media (min-width: $tablet) {
      width: 170px;
    }

    @media (min-width: $desktop) {
      width: 260px;
    }
  }

  @media (min-width: $tablet) {
    width: 223px;
  }

  @media (min-width: $desktop) {
    width: 313px;
  }
}
