.social-icons {
  display: flex;
  margin: 22px auto 0;

  @media (min-width: $tablet) {
    margin-top: 42px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    margin-top: 40px;
    padding: 0 21px;
  }
}
