.sublist__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.72px;
  margin: 5px 0 0;

  @media (min-width: $tablet) {
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop) {
    margin-top: 4px;
    text-align: left;
  }
}

.sublist__new-marker {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $lilacDark;
  display: table;
  margin: 5px auto 0;

  @media (min-width: $desktop) {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }
}

.sublist__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 10px auto 20px;
  color: $baseBlack;
  display: block;
  width: 280px;

  @media (min-width: $tablet) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
  }

  @media (min-width: $desktop) {
    margin-top: 15px;
    text-align: left;
  }
}

.sublist__order-button {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $baseWhite;
  padding: 8px 20px;
  min-width: 113px;
  border-radius: 4px;
  background-color: $baseLilac;

  &:hover {
    background-color: $altLilac;
  }

  &:focus {
    background-color: $altLilac;
  }

  &:active {
    background-color: $lilacDark;
  }

  &:disabled {
    background-color: $baseGray;
  }
}

.sublist__old-price {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: line-through;
  color: $lilacDark;
  min-width: 40px;
  margin-right: 6px;
}

.sublist__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  min-width: 51px;
  margin-right: 20px;
}

.sublist__price-wrapper {
  display: flex;
  min-width: 230px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: $desktop) {
    margin: 40px 0 0;
    justify-content: flex-start;
  }
}

.sublist {
  @media (min-width: $desktop) {
    margin-top: 150px;
  }
}
