@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-400.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-500.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-600.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/monserrat-700.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
