/* здесь используйте глобальные переменные */
$onlyMobile: 767px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$baseWhite: #ffffff;
$baseBlack: #333333;
$baseLilac: #7859cf;
$baseGray: #bdbdbd;
$lightGray: #e2e2e2;
$lightLilac: #f0ebff;
$backgroundGray: #e5e6e8;
$lilacDark: #593cac;
$altLilac:#9070ec;
$altOpacityLilac: rgba (120, 89, 207, 0.25);
$lightestGray: #f8f8f8;
$backgroundBeige: #f3ebe1;
$backgroundLightLilac: #eae6fc;
