/* здесь используйте глобальные переменные */
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$baseWhite: #ffffff;
$baseBlack: #333333;
$baseLilac: #7859CF;
$baseGray: #BDBDBD;
$lightGray: #E2E2E2;
$lightLilac: #F0EBFF;
$backgroundGray: #E5E6E8;
$lilacDark: #593CAC;
$altLilac:#9070EC;
$altOpacityLilac: rgba (120, 89, 207, 0.25);
$lightestGray: #F8F8F8;
$backgroundBeige: #F3EBE1;
$backgroundLightLilac: #EAE6FC;

